INST "CLK_BUFGP" LOC = BUFGMUX0;
NET "CLK" LOC = T9;
NET "I_BTN[0]" LOC = M13;
NET "I_BTN[1]" LOC = M14;
NET "I_RST" LOC = L14;
NET "I_SW[0]" LOC = F12;
NET "I_SW[1]" LOC = G12;
NET "I_SW[2]" LOC = H14;
NET "I_SW[3]" LOC = H13;
NET "O_DIGIT_ANODE[0]" LOC = D14;
NET "O_DIGIT_ANODE[1]" LOC = G14;
NET "O_DIGIT_ANODE[2]" LOC = F14;
NET "O_DIGIT_ANODE[3]" LOC = E13;
NET "O_LEDLAMP[0]" LOC = K12;
NET "O_LEDLAMP[1]" LOC = P14;
NET "O_LEDLAMP[2]" LOC = L12;
NET "O_SEGMENT[0]" LOC = E14;
NET "O_SEGMENT[1]" LOC = G13;
NET "O_SEGMENT[2]" LOC = N15;
NET "O_SEGMENT[3]" LOC = P15;
NET "O_SEGMENT[4]" LOC = R16;
NET "O_SEGMENT[5]" LOC = F13;
NET "O_SEGMENT[6]" LOC = N16;
NET "O_SEGMENT[7]" LOC = P16;
